*{
  margin: 0;
  padding: 0;
}

a{
  color: white;
  text-decoration: none;
}

.button{
  padding: 10px;
  width: min-content;
  background-color: black;
}

.container-1{
  width: 50%;
  margin: 0px 10px;
}

.container-1 img{
  max-width: 100%;
  height:auto;
}

.container-2{
  font-family: cursive;
  float: right;
  position: fixed;
  top: 300px;
  right: 10px;
}

.container-2 p{
  margin: 20px 0px;
}
